*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: brown; */

}
#fs{
    width: 100%;
    height: 100%;
    background-color: rgb(44, 42, 43);
}

#elem{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #14cf93;
}

#white{
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #dadada;
}

