*{
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    /* background-color: brown; */
 }

 *::selection{
    color: #0befa7;
    background-color: #292828;
}

#loader{
    /* display: none; */
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: #fff;
}

#loader #topheading{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#topheading h5{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}

#loader h1{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.4vw;
    font-weight: 400;
}

#loader h1  #patel{
    /* font-family: kajiro; */
    /* font-family: "Montserrat"; */

    color: #14cf93;
}


#green{
    /* display: none; */
    position: absolute;
    z-index: 999;
    top: 100%;
    width: 100%;
    height: 0vh;
    background-color: #14cf93;
}

.reveal .parent{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
    overflow-y: hidden;
}

.reveal .parent .child{
    display: block;
    /* transform: translateY(50%); */
}

.parent .child span{
    display: inline-block;
}

#home{
    width: 100%;
    height: 166vh;
    background-color:#fcfaf8;
    
}

#home #nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 5vw;

}

#nav a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13.5px;
    color: #111;
}

#nav a .line{
    position: absolute;
    /* right: 0; */
    bottom: 0;
    display: inline-block;
    /* width: 100%; */
    
    height: 1px;
    background-color: black;
}

#line1{
    left: 0;
    width: 0%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)  1s; 
    transition-delay: .1s ;
    

}

#line2{
    right: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)  1s; 
    width: 100%;
}

#nav a:hover #line2{
    width: 0;
}

#nav a:hover #line1{
    width: 98%;
}

.row{
    margin-top: 3.3vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #333;
    padding: 0 7vw;
    padding-right: 12vw;
    line-height: 1;
}

.row h1{
    font-size: 13vw;
    font-weight: 500;
}


.row .text{
    margin-top: 1vw;
}

.row h5{
    opacity: .6;  
    font-size: 14px;
    font-weight: 550; 
}

.row:nth-child(3){
    margin-top: 0;
    
}

#imagery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25vw;
    width: 100%;
    padding: 0vw 7vw;

}

#imagery .imglef{
    width: 30%;
    height: auto;
    /* background-color: blueviolet; */
}

.imglef h1{
    color: #333;
    font-size: 2.2vw;
    font-weight: 500;
    letter-spacing: 1px;

}

.imglef h1 span{
    font-style:italic;
    color: #14CF93;
    font-family: futura;
}

.imgrigh{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 60%;
    
}

 .imgrigh .imgcontainer{
    position: absolute;
    width: 28vw;
    height: 40vw;
    filter: grayscale();
    border-radius: 1vw;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    z-index: 1;
    
}

.imgrigh .imgcontainer:hover{
    filter: grayscale(0);
}

.imgrigh .imgcontainer:nth-child(1){
    transform: translate(-20%, -8%) rotate(-20deg);
    background-image: url(https://images.unsplash.com/photo-1603208636533-5b965ef2dc22?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjI3fHxwb3RyYWl0cyUyMGxhdGlub3xlbnwwfHwwfHx8MA%3D%3D);
    object-fit: cover;
    background-position: center;
    
}

.imgrigh .imgcontainer:nth-child(2){
    transform: translate(0%, 0%) rotate(-15deg);
    background-image: url(https://images.unsplash.com/photo-1536896407451-6e3dd976edd1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTY0fHxwb3J0cmFpdHxlbnwwfHwwfHx8MA%3D%3D);
    object-fit: cover;
    background-position: center;
   
}

.imgrigh .imgcontainer:nth-child(3){
    transform: translate(20%, 10%) rotate(-5deg);
    background-image: url(https://images.unsplash.com/photo-1517423440428-a5a00ad493e8?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHB1Z3xlbnwwfHwwfHx8MA%3D%3D);
    object-fit: cover;
    background-position: center;
}  

#work{
    padding-top: 150px;
    position: relative;
    width: 100%;
    min-height: 70vh;
    margin-top: 100px;
    background-color: #f2f2f2;
}

#work::before{
    content: "";
    position: absolute;
    width: 100%;
    top: -75px;
    height: 150px;
    transform: rotate(-180deg);
    background-image: url(https://abhishekjha.me/rip.f6d7c4dd.svg);
    background-size:cover;
    
}

#work .workrow{
    padding: 0 12vw;
    margin-top: 120px;
    display:flex;
    align-items: center;
    justify-content: space-between

}

.workrow h1{
    font-size: 7vw;
    font-weight: 500;
    color: #333;
}

.workrow span{
    color: #14CF93;
    font-style: italic;
    font-family: "AvertaCY W10";
    font-size: 130px;
    /* margin-right:.1vw; */
    
}

 #work .workrow i{
    font-size: 6vw;
    color:rgb(158, 158, 158);
    margin-right: 9vw;
    padding: 0 5vw;
    
}